.step{
    width: 100vw;
    height: 100vh;    
}

.row {
    display: flex;
}

/* Used to cover the "powered by Looker" nonsense that's on every embedded look" */
.cover{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 126px;
    height: 29px;
    background-color: white;
}

.userCount{
    width: 50vw;
    height: 30vh;
    position: relative;

}

.weeklyUsage{
    width: 100vw;
    height: 70vh;
    position: relative;
}

.map{
    width: 100vw;
    height: 100vh;
    position: relative;
}